.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  width: auto !important;
  margin: 8em !important;
}

.table-dark {
  font-size: 13px;
}

.table-row {
  padding-top: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  justify-content: space-around;
  padding-top: 4vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
