.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  /*height: 10vmin;*/
  /*width: 10px;
  height: auto;*/
  pointer-events: none;
  margin-left: 0em;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  justify-content: space-around;
  padding-top: 4vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: white;
  margin-bottom: 2em;
}
.table-flex {
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  margin-top: 8em;
  padding-bottom: 6vh;
}

.table {
  width: auto !important;
  /*margin: 10em !important;*/
}

.table-dark {
  font-size: 13px;
}

.table-row {
  padding-top: 1em;
}

.font-color {
  color: white;
}

.left-panel {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  /*align-items: center;*/
}

.dropdown-space {
  margin-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}

